body{
    background-color: #e5e5e5;
}
h1{
    text-align: center;
    padding:50px 0px 20px 0px;
    font-family: cursive;
}
ul{
    padding:0px;
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}
.lists{
    align-content: center;
}
li{
    color: rgb(51, 51, 51);
    height: 40px;
    margin: 10px 35%;
    width: 30%;
    padding: 10px 5px 0px 5px;
    border-radius: 20px;
    background-color: white;
}
form{
    text-align: center;
}
input{
    height: 20px;
    width: 300px;
}
#todo-header{
    font-family: cursive;
    text-align: center;
}
.button-batta{
    text-align: center;
}
button{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    text-align: center;
}